<div id="<%= dom_id event %>">
  <p>
    <strong>Organizer:</strong>
    <%= event.user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Start datetime:</strong>
    <%= event.start_datetime %>
  </p>

  <p>
    <strong>End datetime:</strong>
    <%= event.end_datetime %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Max participants:</strong>
    <%= event.max_participants %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= event.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= event.longitude %>
  </p>

</div>
