<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :start_datetime, style: "display: block" %>
    <%= form.datetime_field :start_datetime %>
  </div>

  <div>
    <%= form.label :end_datetime, style: "display: block" %>
    <%= form.datetime_field :end_datetime %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_area :location %>
  </div>

  <div>
    <%= form.label :max_participants, style: "display: block" %>
    <%= form.number_field :max_participants %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
