<!DOCTYPE html>
<html>
  <head>
    <title>EventPlanRegister</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <!-- Menu -->
  <nav>
    <ul>
      <% menu_options.each do |option| %>
        <li><%= link_to option[:name], option[:path] %></li>
      <% end %>
    </ul>
  </nav>

    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
